<div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1>{{ season }} Season Results</h1>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-7">
        <h2>Driver Standings</h2>
    </div>
    <div class="col-xs-5">
        <input class="form-control" type="search" ng-model="nameFilter" placeholder="Search Drivers..." />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Driver</th>
            <th>Team</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="driver in driversList | filter: nameFilter">
            <td>{{ $index + 1 }}</td>
            <td class="flag flag--{{ driver.Driver.nationality }}">
              <a href="#/{{ season }}/drivers/{{driver.Driver.driverId }}">
                {{ driver.Driver.givenName }}&nbsp;{{ driver.Driver.familyName }}
              </a>
            </td>
            <td>{{ driver.Constructors[0].name }}</td>
            <td>{{ driver.points }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-7">
        <h2>Constructor Standings</h2>
    </div>
    <div class="col-xs-5">
        <!-- <input class="form-control" type="search" ng-model="constructorFilter" placeholder="Search Constructors..." /> -->
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Constructor</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in teamList">
                    <td>{{ team.position }}</td>
                    <td class="flag flag--{{ team.Constructor.nationality }}">
                        {{ team.Constructor.name }}
                    </td>
                    <td>{{ team.points }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>